<!-- modals de edicion-->
<div class="modal fade" id="modal_e" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CARGAR FOTO</h5>

            </div>
            <div class="modal-body">
                <form id="formulario_e" method="POST" action="/persona/foto" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="external" value="0" id="external">
                        <label for="foto">Foto</label>
                        <input type="file" class="form-control" id="foto" name="foto" aria-describedby="fotoHelp" placeholder="Seleccione una foto">
                        <small id="fotoHelp" class="form-text text-muted">Foto de perfil.</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Subir</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
