<script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript" src="/js/html2canvas.js"></script>
<script type="text/javascript">
  function genPDF() {
    $('#bDescargar').attr('style','visibility: hidden');
    html2canvas(document.getElementById('pdf')).then(function(canvas) {
      var img = canvas.toDataURL('image/png');
      var doc = new jsPDF();
      doc.addImage(img, 'JPEG', 20, 10);
      doc.save('test.pdf');
    });
  }
</script>

<script>
function cargarClasificacion() {
    var url = "http://localhost:3000/facturas/recursos/clasificacion";
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'JSON',
        success: function (data, textStatus, jqXHR) {
            console.log(data);
            console.log(data.clasificacion);
            var html = "<option value=''>Seleccione un tipo</option>";
            $.each(data.clasificacion, function (i, item) {
                html += '<option value = "' + item + '">' + item + '</option>';
            });
            $("#clasificacion").html(html);
        },
        error: function (jqXHR, textStatus, errorThrown) {

        }
    });
}

    $().ready(function () {
        cargarTabla();
        cargarClasificacion();


    });

    function cargarTabla() {
            var suma = 0;
            var sumagastos = 0;

            var url = "http://localhost:3000/facturas/recursos/listarTodos";       ///test/sw/listaProdLot
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'JSON',
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    var html = "";
                    $.each(data, function (i, item) {
                        if(item.clasificacion=='vestimenta' || item.clasificacion=='comida' || item.clasificacion=='educacion' || item.clasificacion=='salud'){
                          sumagastos += item.totalFactura;
                        };
                        suma += item.totalFactura;
                        html += '<tr>';
                        html += '<td>'+(i+1)+'</td>';
                        html += '<td>'+item.fecha+'</td>';
                        html += '<td>'+item.nombre+'</td>';
                        html += '<td>'+item.clasificacion+'</td>';
                        html += '<td>'+item.totalFactura+'</td>';
                        html += '<td><button  type="button" id="editar'+i+'" class="btn btn-primary">Editar</button></td>';
                        html += '</tr>';
                        html += '<script>'+
                        '$("#editar'+i+'").click(function () {'+
                          '$("#external").val("'+item.external_id+'");'+
                          '$("#persona").val("'+item.nombre+'");'+
                          '$("#fecha").val("'+item.fecha+'");'+
                          '$("#clasificacion").val("'+item.clasificacion+'");'+
                          '$("#total").val("'+item.totalFactura+'")'+
                        '});'
                        html += '</scrip'+'t>';


                    });
                    console.log(suma);
                    console.log(sumagastos);
                    $("#tabla tbody").html(html);
                    $("#suma").val(suma);
                   $("#totalgastos").val(sumagastos);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                }
            });
            // onclick="return verTotales('+item.id+')"
    }

</script>

<meta charset="utf-8">
<title>
  <%= titulo %>
</title>




<!--<script src="javascripts/paises.js"></script> -->
  <div class="gallery"><h1>FACTURAS</h1></div>
<div class="container">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form id="factura" method="POST">
            <input id="external" name="external" value="0" type="hidden">
            <div class="form-group">
              <input type="text" id="persona" name="persona" value="" class="form-control" required minlength="3">
              <small>Nombre del Cliente</small>
            </div>
            <div class="form-group">
              <input type="date" id="fecha" name="fecha" value="" class="form-control" required minlength="3">
              <small>Seleccione la fecha de factura</small>
            </div>

            <div class="form-group">
              <select class="form-control" name="clasificacion" id='clasificacion'>
              </select>
              <small>Seleccione el tipo de Gasto</small>
            </div>
            <div class="form-group" style="visibility:hidden;" id='divOtros'>
              <input type="text" id="otros" name="otros" placeholder="Otros..." class="form-control" required >
              <small for="nombre">Indique otros</small>
            </div>
            <div class="form-group">
              <input type="text" id="total" name="total" placeholder="total" class="form-control" required digits >
              <small for="nombre">Total de Factura</small>
            </div>
            <div class="form-group">
              <button id="btn" type="submit" class="btn btn-primary btn-block">Registrar</button>
              <small>Este botón permite registrar o modificar  la factura según sea requerido</small>
                <script>
                  $().ready(function() {
                    $("#btn").click(function() {
                      var external = $("#external").val();
                      if (external == "0") {
                        $('#factura').attr('action', '/guardarFactura');
                      } else {
                        $('#factura').attr('action', '/editarFactura');
                      }
                    });
                  });

        function otros(){
          if ($('#clasificacion').val() == 'otros') {
            $('#divOtros').attr('style','visibility:visible');
          }else {
            $('#divOtros').attr('style','visibility:hidden');
            $('#otros').val($('#clasificacion').val());
          }
        }
        $('#clasificacion').change(function(){
          otros();
        });

                </script>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  LIST-->
    <div class="col-md-7">
      <div style="background-color:green; color:white; font-size: 24px;">
        <%- locals.flash %>
      </div>
      <div class="search" >
          <input type="date" name="fechaI" id="fechaI">
          <input type="date" name="fechaF" id="fechaF">
          <button type="button" onclick="buscar()" name="button">Buscar</button>
      </div>
      <div id="pdf">
      <div class="form-control" >
          <input type="text" id="suma"><br>
          <small>Total</small><br>
          <input type="text" id="totalgastos"><br>
          <small>Total gastos personales</small><br>
          <a href="javascript:genPDF()" class="btn btn-danger" onclick="ocultarEditar()">Generar Reporte</a>
      </div>
      <script>


        var totalEditar=0;
        function buscar() {
                var url = "http://localhost:3000/facturas/recursos/listarTodos";
                var fechaInicio = document.getElementById("fechaI").value;
                var fechaFin = document.getElementById("fechaF").value;
                //console.log(fechaInicio);
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        var html = "";
                        $.each(data, function (i, item) {
                          totalEditar+=i;
                          console.log(fechaInicio);
                          console.log(item.fecha);
                          if (item.fecha >= fechaInicio && item.fecha <= fechaFin) {
                            html += '<tr>';
                            html += '<td>'+(i+1)+'</td>';
                            html += '<td>'+item.fecha+'</td>';
                            html += '<td>'+item.nombre+'</td>';
                            html += '<td>'+item.clasificacion+'</td>';
                            html += '<td>'+item.totalFactura+'</td>';
                            html += '<td><button  type="button" id="editar'+i+'" class="btn btn-primary">Editar</button></td>';
                            html += '</tr>';
                            html += '<script>'+
                            '$("#editar'+i+'").click(function () {'+
                              '$("#external").val("'+item.external_id+'");'+
                              '$("#persona").val("'+item.nombre+'");'+
                              '$("#fecha").val("'+item.fecha+'");'+
                              '$("#clasificacion").val("'+item.clasificacion+'");'+
                              '$("#total").val("'+item.totalFactura+'")'+
                            '});'
                            html += '</scrip'+'t>';
                          }
                        });
                        $("#tabla tbody").html(html);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.responseText);
                    }
                });
                // onclick="return verTotales('+item.id+')"
        }
        function ocultarEditar(){
          console.log(totalEditar);
          for (var i = 0; i < totalEditar; i++) {
            $('#editar'+i).attr('style','visibility: hidden');
          }
        }
      </script>
      <table class="table table-bordered table-hover" id="tabla">
        <thead>
          <tr>
            <th>Nro</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Gastos</th>
            <th>Total</th>
            <th>Editar</th>
          </tr>
        </thead>
          <tbody>

          </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
